*{
    margin: 0;
    padding: 0;
}
body{
    background-color: beige;
    
}
main{
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: center;
    grid-template-columns: 250px 150px 200px;
    grid-template-rows: 150px 90px 130px;
}


main div{
    padding: 2rem;
    text-align: center;
}
.item-a{
    background-color: #eb5020;
    grid-area: a;
}
.item-b{
    background-color: #ffa401;
    grid-area: b;
}
.item-c{
    background-color: #05aa42;
    grid-area: c;
}
.item-d{
    background-color: #01aefd;
    grid-area: d;
}
.item-e{
    background-color: #01aefd;
    grid-area: e;
}

